@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Raleway:wght@460&display=swap');

.team_member{
    width: 100%;
    height: 1600px;
    margin-top: 5px;
    
}
.member_title{
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    height: 70px;
    min-width: 350px;
}
.member_title h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}

.real_img_style{
    position: relative;
    right: 25px;
    width: 100%;
    height: 100%;
}

#quoto{
    font-size: 30px;
    font-family: 'Nanum Pen Script', cursive;
}
.dongu{
    width: 49%;
    /* min-width: 450px; */
    height: 400px;
    background-color: rgb(247, 245, 245);
    float: left;
    border-radius: 12px;
}
.sungu{
    width: 50%;
    /* min-width: 450px; */
    height: 400px;
    float: left;
    margin-left: 5px;
    background-color: rgb(247, 245, 245);
    border-radius: 12px;
}
.dongu_img{
    border-radius: 150px;
    width: 30%;
    height: 55%;
    margin-top: 50px;
    margin-left: 90px;
    display: inline-block;
    
}
.dongu_img img{
    border-radius: 150px;
}
.sungu_img img{
    border-radius: 150px;
}
.sungu_img{
    border-radius: 150px;
    width: 30%;
    height: 55%;
    margin-top: 50px;
    margin-left: 100px;
    display: inline-block;    
}
.dongu_talk{
    margin-top: 40px;
    margin-right: 10px;
    width: 46%;
    height: 80%;
    float: right;
    background-color:rgb(247, 245, 245);
    border-radius: 12px;
}
.sungu_talk{
    margin-top: 40px;
    margin-right: 10px;
    width: 46%;
    height: 60%;
    float: right;
    background-color:rgb(247, 245, 245);
    border-radius: 12px;
}
.talk_title{
    border-bottom: 1px solid rgb(182, 182, 182);
    width: 100%;
    height: 55px;
    margin-bottom: 5px;
}
#team_name{
    display: inline-block;
    font-size: 30px;
    margin-top: 0px;
    margin-left: 10%;
}
#team_position{
    display: inline-block;
    font-size: 18px;
    margin-left: 10px;
}
.talk_body{
    width: 100%;
    height: 270px;
}

.talk_body p{
    margin-top: 2px;
    margin-bottom: 15px;
    margin-left: 30px;
}


/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { /*스타일입력*/}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { }

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    .dongu{
        width: 49%;
        min-width: 400px;
        height: 400px;
        background-color: rgb(247, 245, 245);
        float: left;
        border-radius: 12px;
    }
    .sungu{
        width: 50%;
        min-width: 400px;
        height: 400px;
        float: left;
        margin-left: 5px;
        background-color: rgb(247, 245, 245);
        border-radius: 12px;
    }
    .dongu_img{
        border-radius: 150px;
        width: 30%;
        height: 55%;
        margin-top: 50px;
        margin-left: 50px;
        display: inline-block;
        
    }
    .sungu_img{
        border-radius: 150px;
        width: 30%;
        height: 55%;
        margin-top: 50px;
        margin-left: 50px;
        display: inline-block;    
    }
    #quoto{
        font-size: 22px;
        font-family: 'Nanum Pen Script', cursive;
    }
}
 